.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px solid gainsboro;
}

.itemInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 8px;
}

.item:not(:last-of-type) {margin-bottom: 10px;}

.title {
    flex-grow: 1;
    font-size: 24px;
    word-break: break-all;
}

.title.completion {text-decoration: line-through;}

.content {
    flex-grow: 1;
    font-size: 16px;
    word-break: break-all;
}

.dateTime{
    display: flex;
    align-items: center;
    width: 50%;
}

.dateTime dt{
    width: 30%;
    flex-shrink: 0;
}

.dateTime dd{
    flex-grow: 1;
}
